---
import Layout from '../layouts/AboutPage.astro';
import AboutHeroImage from '../assets/me.jpg';
---

<Layout
	title="About Me"
	description="About Tom Keim"
	pubDate={new Date('June 11, 2025')}
	heroImage={AboutHeroImage}
>
	<p>
		Hi There! My name is Tom Keim and I’m a data engineer and enthousiast. I mostly work at data projects with technologies like Microsoft Fabric, Microsoft SQL Server, Power BI, Databricks, Azure Data Factory and most other Azure data products.
	</p>
	<p>
		In my free time I like to spend time with my wife and two kids. Also I like to watch a lot of TV Shows & Movies or spent time on home automation with products like Home Assistant and ESPHome.
	</p>
</Layout>
