---
const today = new Date();
import { Icon } from 'astro-icon/components'
---

<footer>
	&copy; {today.getFullYear()} Tom Keim. All rights reserved.
	<div class="social-links">
		<a href="https://linkedin.com/in/tomkeim" target="_blank">
			<span class="sr-only">Follow Tom on Linkedin</span>
			<Icon name="entypo-social:linkedin" width="32" height="32" />
		</a>
		<a href="https://github.com/tom-keim" target="_blank">
			<span class="sr-only">Go to Tom's GitHub</span>
			<Icon name="entypo-social:github" width="32" height="32" style="vertical-align: middle; position: relative; top: 3px;" />
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
